In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import scipy
from scipy.stats.qmc import Sobol
from scipy.stats import qmc
import matplotlib.pyplot as plt
import sys
sys.path.append('../../sample_utilities')
import samples
import json

In [3]:
target_volume = 10000
target_dilution = 0.1 # mol Si/L saxs sample
samples_write_fp = 'SampleTable_AmmoniaGradient_10000.csv'

### Calculate volumes from samples

In [4]:
with open('constants_Round2_2point85.json', 'rt') as f:
    constants = json.load(f)

In [5]:
sample_1 = [0.007526, 0.018891, 0.043859]

step = 0.0025
samples_fracs = []
for i in range(5):
    sample = [sample_1[0], sample_1[1]-i*step, sample_1[2]+i*step]
    samples_fracs.append(sample)

In [7]:
for frac in samples_fracs:
    print(frac[1])

0.018891
0.016391000000000003
0.013891
0.011391000000000002
0.008891000000000001

## Collate volume fractions into samples and get sample information

In [8]:
samples_gen = []
for sample_list in samples_fracs:
    sample = samples.SolidSilicaSample(target_volume=target_volume, reactant_fp='./constants_Round2_2point85.json', teos_vol_frac=sample_list[0], ammonia_vol_frac=sample_list[1], water_vol_frac=sample_list[2])
    sample.calculate_reactant_volumes()
    sample.calculate_silica_mass_concentration()
    sample.calculate_silica_mass_fraction()
    sample.calculate_dilution_volumefraction(target_dilution)
    samples_gen.append(sample)
    print('final etoh vol: ', sample.ethanol_volume)

1300.1060000000002
final etoh vol:  7997.134
1300.1060000000002
final etoh vol:  7997.134
1300.1059999999998
final etoh vol:  7997.134
1300.1060000000002
final etoh vol:  7997.134
1300.1060000000002
final etoh vol:  7997.134

In [ ]:
sample.te

In [9]:
synth_table = samples.generate_synthesis_table(samples_gen)

In [10]:
synth_table

,uuid,teos_volume,ammonia_volume,water_volume,ethanol_volume,dilution_volume_fraction,silica_mass_conc,silica_mass_fraction
0,34413cc5-3d1a-4ec6-a0f5-44c8eec31ae8,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527
1,41ca5374-eccb-4552-9e28-231f02e69043,214.491,467.1435,1321.2315,7997.134,2.965909,2.025686,0.002526
2,5861c158-06af-44d5-8529-060663163acd,214.491,395.8935,1392.4815,7997.134,2.965909,2.025686,0.002525
3,496003e3-5117-4f71-83a4-08bdfbac510e,214.491,324.6435,1463.7315,7997.134,2.965909,2.025686,0.002525
4,75d4f802-0474-4db9-ae8d-0517e8f43d05,214.491,253.3935,1534.9815,7997.134,2.965909,2.025686,0.002524

In [11]:
rows = ['A', 'B', 'C']
cols = [1, 2, 3, 4]

wells = []
for row in rows:
    for col in cols:
        wells.append(row + str(col))

In [12]:
synth_table['well'] = wells[len(synth_table):2*len(synth_table)]

In [13]:
synth_table

,uuid,teos_volume,ammonia_volume,water_volume,ethanol_volume,dilution_volume_fraction,silica_mass_conc,silica_mass_fraction,well
0,34413cc5-3d1a-4ec6-a0f5-44c8eec31ae8,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527,B2
1,41ca5374-eccb-4552-9e28-231f02e69043,214.491,467.1435,1321.2315,7997.134,2.965909,2.025686,0.002526,B3
2,5861c158-06af-44d5-8529-060663163acd,214.491,395.8935,1392.4815,7997.134,2.965909,2.025686,0.002525,B4
3,496003e3-5117-4f71-83a4-08bdfbac510e,214.491,324.6435,1463.7315,7997.134,2.965909,2.025686,0.002525,C1
4,75d4f802-0474-4db9-ae8d-0517e8f43d05,214.491,253.3935,1534.9815,7997.134,2.965909,2.025686,0.002524,C2

In [14]:
synth_table.to_csv(samples_write_fp)

3