In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import scipy
from scipy.stats.qmc import Sobol
from scipy.stats import qmc
import matplotlib.pyplot as plt
import sys
sys.path.append('../../sample_utilities')
import samples
import json

In [27]:
target_volume = 10000
target_dilution = 0.1 # mol Si/L saxs sample
samples_write_fp = 'SampleTable_ReproReplicates_10000.csv'

### Calculate volumes from samples

In [28]:
with open('constants_Round2_2point85.json', 'rt') as f:
    constants = json.load(f)

In [29]:
sample_1 = [0.007526, 0.018891, 0.043859]

## Collate volume fractions into samples and get sample information

In [30]:
samples_gen = []
for sample_list in [sample_1]:
    for i in range(5):
        sample = samples.SolidSilicaSample(target_volume=target_volume, reactant_fp='./constants_Round2_2point85.json', teos_vol_frac=sample_list[0], ammonia_vol_frac=sample_list[1], water_vol_frac=sample_list[2])
        sample.calculate_reactant_volumes()
        sample.calculate_silica_mass_concentration()
        sample.calculate_silica_mass_fraction()
        sample.calculate_dilution_volumefraction(target_dilution)
        samples_gen.append(sample)
        print('final etoh vol: ', sample.ethanol_volume)

1300.1060000000002
final etoh vol:  7997.134
1300.1060000000002
final etoh vol:  7997.134
1300.1060000000002
final etoh vol:  7997.134
1300.1060000000002
final etoh vol:  7997.134
1300.1060000000002
final etoh vol:  7997.134

In [31]:
synth_table = samples.generate_synthesis_table(samples_gen)

In [32]:
synth_table

,uuid,teos_volume,ammonia_volume,water_volume,ethanol_volume,dilution_volume_fraction,silica_mass_conc,silica_mass_fraction
0,82c085e1-a523-40ce-9e89-4fa0bf546525,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527
1,747534b1-7370-49a5-bdc1-4fce5227f391,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527
2,e5f6e82f-0282-46c8-be77-d8914adca9b5,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527
3,c87ac840-ddde-43ab-a8e3-b5e3eb5a273d,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527
4,d034d82c-e329-484c-91cc-75ea655a1446,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527

In [37]:
rows = ['A', 'B', 'C']
cols = [1, 2, 3, 4]

wells = []
for row in rows:
    for col in cols:
        wells.append(row + str(col))

In [39]:
synth_table['well'] = wells[len(synth_table):2*len(synth_table)]

In [40]:
synth_table

,uuid,teos_volume,ammonia_volume,water_volume,ethanol_volume,dilution_volume_fraction,silica_mass_conc,silica_mass_fraction,well
0,82c085e1-a523-40ce-9e89-4fa0bf546525,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527,B2
1,747534b1-7370-49a5-bdc1-4fce5227f391,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527,B3
2,e5f6e82f-0282-46c8-be77-d8914adca9b5,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527,B4
3,c87ac840-ddde-43ab-a8e3-b5e3eb5a273d,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527,C1
4,d034d82c-e329-484c-91cc-75ea655a1446,214.491,538.3935,1249.9815,7997.134,2.965909,2.025686,0.002527,C2

In [41]:
synth_table.to_csv(samples_write_fp)

3