In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import scipy
from scipy.stats.qmc import Sobol
from scipy.stats import qmc
import matplotlib.pyplot as plt
import sys
sys.path.append('../../sample_utilities')
import samples
import json

In [3]:
target_volume = 17000
target_dilution = 0.1 # mol Si/L saxs sample
samples_write_fp = 'SampleTable_reproreplicates_1700.csv'

### Calculate volumes from samples

In [4]:
with open('constants_Round2_2point85.json', 'rt') as f:
    constants = json.load(f)

In [5]:
sample_1 = [0.007526, 0.018891, 0.043859]

step = 0.0025
samples_fracs = []
for i in range(5):
    sample = [sample_1[0], sample_1[1], sample_1[2]]
    samples_fracs.append(sample)

In [6]:
samples_fracs

[[0.007526, 0.018891, 0.043859],
 [0.007526, 0.018891, 0.043859],
 [0.007526, 0.018891, 0.043859],
 [0.007526, 0.018891, 0.043859],
 [0.007526, 0.018891, 0.043859]]

## Collate volume fractions into samples and get sample information

In [7]:
samples_gen = []
for sample_list in samples_fracs:
    sample = samples.SolidSilicaSample(target_volume=target_volume, reactant_fp='./constants_Round2_2point85.json', teos_vol_frac=sample_list[0], ammonia_vol_frac=sample_list[1], water_vol_frac=sample_list[2])
    sample.calculate_reactant_volumes()
    sample.calculate_silica_mass_concentration()
    sample.calculate_silica_mass_fraction()
    sample.calculate_dilution_volumefraction(target_dilution)
    samples_gen.append(sample)
    print('final etoh vol: ', sample.ethanol_volume)

2210.1802
final etoh vol:  13595.127799999998
2210.1802
final etoh vol:  13595.127799999998
2210.1802
final etoh vol:  13595.127799999998
2210.1802
final etoh vol:  13595.127799999998
2210.1802
final etoh vol:  13595.127799999998

In [8]:
synth_table = samples.generate_synthesis_table(samples_gen)

In [9]:
synth_table

,uuid,teos_volume,ammonia_volume,water_volume,ethanol_volume,dilution_volume_fraction,silica_mass_conc,silica_mass_fraction
0,dc074903-9e5f-4865-9e3d-c7048a916a4c,364.6347,915.26895,2124.96855,13595.1278,2.965909,2.025686,0.002527
1,5ed5518d-3b92-4818-a800-5ba51f86239d,364.6347,915.26895,2124.96855,13595.1278,2.965909,2.025686,0.002527
2,dfcbb570-4601-4499-b685-1be0e900d2ad,364.6347,915.26895,2124.96855,13595.1278,2.965909,2.025686,0.002527
3,7fac3721-5c19-4583-a66c-56274a376575,364.6347,915.26895,2124.96855,13595.1278,2.965909,2.025686,0.002527
4,1cd1ff7c-4720-44f9-9492-265727463dfc,364.6347,915.26895,2124.96855,13595.1278,2.965909,2.025686,0.002527

In [10]:
rows = ['A', 'B', 'C']
cols = [1, 2, 3, 4]

wells = []
for row in rows:
    for col in cols:
        wells.append(row + str(col))

In [11]:
synth_table['well'] = wells[:len(synth_table)]

In [12]:
synth_table

,uuid,teos_volume,ammonia_volume,water_volume,ethanol_volume,dilution_volume_fraction,silica_mass_conc,silica_mass_fraction,well
0,dc074903-9e5f-4865-9e3d-c7048a916a4c,364.6347,915.26895,2124.96855,13595.1278,2.965909,2.025686,0.002527,A1
1,5ed5518d-3b92-4818-a800-5ba51f86239d,364.6347,915.26895,2124.96855,13595.1278,2.965909,2.025686,0.002527,A2
2,dfcbb570-4601-4499-b685-1be0e900d2ad,364.6347,915.26895,2124.96855,13595.1278,2.965909,2.025686,0.002527,A3
3,7fac3721-5c19-4583-a66c-56274a376575,364.6347,915.26895,2124.96855,13595.1278,2.965909,2.025686,0.002527,A4
4,1cd1ff7c-4720-44f9-9492-265727463dfc,364.6347,915.26895,2124.96855,13595.1278,2.965909,2.025686,0.002527,B1

In [13]:
synth_table.to_csv(samples_write_fp)

3

In [14]:
synth_table['ethanol_volume'].sum()

67975.639

In [15]:
synth_table['water_volume'].sum()

10624.84275