In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import scipy
from scipy.stats.qmc import Sobol
from scipy.stats import qmc
import matplotlib.pyplot as plt
import sys
sys.path.append('../../sample_utilities')
import samples
import json

In [16]:
target_volume = 17000
target_dilution = 0.1 # mol Si/L saxs sample
samples_write_fp = 'SampleTable_StraightTEOS_17000.csv'

### Calculate volumes from samples

In [5]:
with open('constants_Round2_2point85.json', 'rt') as f:
    constants = json.load(f)

In [6]:
sample_1 = [0.007526, 0.018891, 0.043859]

step = 0.0025
samples_fracs = []
for i in range(5):
    sample = [sample_1[0], sample_1[1], sample_1[2]]
    samples_fracs.append(sample)

In [7]:
samples_fracs

[[0.007526, 0.018891, 0.043859],
 [0.007526, 0.018891, 0.043859],
 [0.007526, 0.018891, 0.043859],
 [0.007526, 0.018891, 0.043859],
 [0.007526, 0.018891, 0.043859]]

## Collate volume fractions into samples and get sample information

In [8]:
samples_gen = []
for sample_list in samples_fracs:
    sample = samples.SolidSilicaSample(target_volume=target_volume, reactant_fp='./constants_Round2_2point85.json', teos_vol_frac=sample_list[0], ammonia_vol_frac=sample_list[1], water_vol_frac=sample_list[2])
    sample.calculate_reactant_volumes()
    sample.calculate_silica_mass_concentration()
    sample.calculate_silica_mass_fraction()
    sample.calculate_dilution_volumefraction(target_dilution)
    samples_gen.append(sample)
    print('final etoh vol: ', sample.ethanol_volume)

1973.4875000000002
final etoh vol:  13831.820499999998
1973.4875000000002
final etoh vol:  13831.820499999998
1973.4875000000002
final etoh vol:  13831.820499999998
1973.4875000000002
final etoh vol:  13831.820499999998
1973.4875000000002
final etoh vol:  13831.820499999998

In [9]:
synth_table = samples.generate_synthesis_table(samples_gen)

In [10]:
synth_table

,uuid,teos_volume,ammonia_volume,water_volume,ethanol_volume,dilution_volume_fraction,silica_mass_conc,silica_mass_fraction
0,53848e92-adb8-429a-bb6a-2f565d1bd947,127.942,915.26895,2124.96855,13831.8205,2.965909,2.025686,0.002527
1,8b74899c-c252-4896-96b4-8d8f970411ed,127.942,915.26895,2124.96855,13831.8205,2.965909,2.025686,0.002527
2,a65ef767-20fb-4136-9455-97c67b1c14ce,127.942,915.26895,2124.96855,13831.8205,2.965909,2.025686,0.002527
3,797bea6d-5e5f-4ae9-b1fe-3fbac831b401,127.942,915.26895,2124.96855,13831.8205,2.965909,2.025686,0.002527
4,33c6cd5a-5e18-4fc3-8acf-a463166b07bd,127.942,915.26895,2124.96855,13831.8205,2.965909,2.025686,0.002527

In [11]:
rows = ['A', 'B', 'C']
cols = [1, 2, 3, 4]

wells = []
for row in rows:
    for col in cols:
        wells.append(row + str(col))

In [14]:
synth_table['well'] = wells[:len(synth_table)]

In [15]:
synth_table

,uuid,teos_volume,ammonia_volume,water_volume,ethanol_volume,dilution_volume_fraction,silica_mass_conc,silica_mass_fraction,well
0,53848e92-adb8-429a-bb6a-2f565d1bd947,127.942,915.26895,2124.96855,13831.8205,2.965909,2.025686,0.002527,A1
1,8b74899c-c252-4896-96b4-8d8f970411ed,127.942,915.26895,2124.96855,13831.8205,2.965909,2.025686,0.002527,A2
2,a65ef767-20fb-4136-9455-97c67b1c14ce,127.942,915.26895,2124.96855,13831.8205,2.965909,2.025686,0.002527,A3
3,797bea6d-5e5f-4ae9-b1fe-3fbac831b401,127.942,915.26895,2124.96855,13831.8205,2.965909,2.025686,0.002527,A4
4,33c6cd5a-5e18-4fc3-8acf-a463166b07bd,127.942,915.26895,2124.96855,13831.8205,2.965909,2.025686,0.002527,B1

In [17]:
synth_table.to_csv(samples_write_fp)

3

In [18]:
synth_table['ethanol_volume'].sum()

69159.1025

In [19]:
synth_table['water_volume'].sum()

10624.84275